@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&display=swap');

:root {
  --dark-green: #00501c;
  --green: #5ea175;
}

body {
  margin: 0;
  background-color: #c1ffb5;
  font-family: 'Quicksand', sans-serif;
  background-image: url('./images/bg 2.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.App {
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
  background-color: rgba(6, 6, 6, 0.22);
  backdrop-filter: blur(20px) saturate(160%) contrast(45%) brightness(140%);
  margin-bottom: 2em;
}

.title {
  font-size: 2em;
  font-weight: 700;
  color: var(--dark-green);
  text-shadow: 0 4px var(--green);
}

.links-container {
  display: flex;
  justify-content: flex-end;
  margin: 1em;
}

.links-container li {
  list-style: none;
}

.links-container a {
  text-decoration: none;
  font-weight: 500;
  font-size: 1em;
  color: var(--dark-green);
}

.vl {
  border-left: 2px solid var(--dark-green);
  height: 2em;
  margin: 0 1em;
}

.active {
  border-bottom: 2px solid var(--dark-green);
}

.logo-container img {
  width: 50%;
  margin: 0 auto;
}

.footer-content {
  position: absolute;
  bottom: 0;
  width: 100% !important;
  display: flex;
  justify-content: center;
}

.footer-content a {
  text-decoration: underline;
  color: var(--dark-green);
  font-weight: 500;
  font-size: 1em;
}